.loader-img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: #ece7e7;
  }

  .product-discount tr td:first-child{
    padding-left: 25px;
  }
  .product-discount tr td{
    padding-top: 0;padding-bottom: 0;
  }
  .product-discount .form-check-input{
    width: 20px;height: 20px;margin-top: -1px;
  }

  .dot{
    width: 10px;height: 10px;border-radius: 50%;
    display: inline-block;background-color: grey;
    }
    .Pending {
    background-color: #418df1;
    }
    .Confirmed{
    background-color: rgb(50, 137, 190);
    }
    .ReadytoShipped{
    background-color: #305483;
    }
    .OutforDelivery{
    background-color: maroon;
    -color: red;
    }
    .Delivered{background-color: green;}
    .Rejected{background-color: red;}
    .Cancel{background-color: rgb(194, 14, 155);}
    .form-select{height: 48px !important;}