<div class="card pt-4 text-center">
    <div class="card-body pb-2 pt-0">
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{height: '10px','border-radius': '5px'}"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{height: '15px',width:'80px','border-radius': '50px'}"></ngx-skeleton-loader>
    </div>
    <div class="card-footer" style="height: 50px;">
        <div class="d-flex justify-content-between">
            <ngx-skeleton-loader count="1" appearance="line" [theme]="{height: '15px',width:'50px','border-radius': '5px'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="1" appearance="line" [theme]="{height: '15px',width:'50px','border-radius': '5px'}"></ngx-skeleton-loader>
        </div>
    </div>
</div>