.p-details .icon-top {   
    display: block;
    -width: 25px;
    -height: 25px;
    border-radius: 3px;
    text-align: center;
    -position: absolute;
    -top: 7px;
    -line-height: 25px;
    padding: 3px 7px;
    font-size: 13px;
    border-radius: 0;
}
.p-details .tick{    
    border: 2px solid #e7edf7;
    -background-color: #e7edf7;   
    right: 7px;
    color: #333;
    border-radius: 5px;
}
.p-details .tick i{
  font-size: 14px;
}
.p-details .tick.green-tick{
    background-color: #79a32d;color: #fff;
}

.added-symbol {
    border: 1px solid #79a32d;
    position: absolute;
    right: -23px;
    top: 10%;
    transform: translateY(-10%);
    background-color: #79a32d;
    padding: 0 3px 1px;
    border-radius: 0 50px 50px 0;
    color: #fff;
}

.p-details .selection-item-block {
    -border: 1px solid red;
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}
.p-details .select-right-block{
    height: 380px;
}

@media (max-width:575px){
    .added-symbol{
        display: none;
    }
}