<main class="main" id="main">    
    <div class="card p-3">
        <app-pagetitle pagetitle="Create Lesson"></app-pagetitle>
        <form #form="ngForm" class="row mt-2">
            <div class="col-md-12">                
                <app-inputcontrol errmsg="{{titleMessage}}"  [(inputModel)]="lsmTitle" lblname="Title" type="text"   inptclass="mb-3"  inputstyle="textbox"></app-inputcontrol>
            </div>                                                          
            
              <div class="col-md-12">
              <app-labelcontrolconcomponent label="Description" [star]="true" *ngIf="Isshowlabeleditor"></app-labelcontrolconcomponent>
              <app-htmleditorcontrolcomponent [htmlerrmsg]="message"  [(inputModel)]="lsmDescription" *ngIf="Isshoweditor"></app-htmleditorcontrolcomponent>
             </div> 
             <div class="p-3">
                <!-- Pdf Start-->
                <div class="d-flex justify-content-between align-items-center">
                    <app-pagetitle pagetitle="PDF"></app-pagetitle>
                    <app-buttoncontrolconcomponent data-bs-toggle="modal" (click)="openModalDialog()"
                        btnstyle="btn-theme border-0 px-3 text-white" btnname="Add Pdf"></app-buttoncontrolconcomponent>
                </div>
                 <div class="col-md-12 mt-3" *ngIf="itemOthervariant.length >= 1">
                    <div class="bg-theme">
                        <div class="table-responsive">
                            <table class="table data-list mb-0">
                                <tr>
                                    <th>Title</th>                                                                        
                                    <th class="text-end">Action</th>
                                </tr>
                                <tr *ngFor="let v of itemOthervariant ;let d = index">
                                    <td>{{v[0]}}</td> 
                                    <td class="text-end">
                                        <div class="d-flex justify-content-end">                                            
                                            <a href="#DeleteModal" data-bs-toggle="modal"
                                                class="btn btn-white btn-sm text-danger border py-1"><i
                                                    class="bi bi-trash"></i></a>
                                        </div>
                                    </td>                                                                                                                                             
                                    <div class="modal fade" tabindex="-1" id="DeleteModal">
                                        <div class="modal-dialog modal-sm modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header border-0">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <img src="/assets/images/icon/trash.png"
                                                        class="img-fluid d-block mx-auto mb-2" width="70">
                                                    <b>Delete Record of <b class="text-theme">{{v[0]}}</b></b>
                                                    <p class="small text-secondary">Are you sure you want to delete this
                                                        record ?</p>
    
                                                    <button (click)="deletePdf(d)" data-bs-dismiss="modal"
                                                        class="btn btn-danger">OK</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Pdf End-->
            </div>
            <div class="p-3">
                <!--  Video Start-->
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <app-pagetitle pagetitle="Video"></app-pagetitle>
                    <app-buttoncontrolconcomponent  data-bs-toggle="modal" (click)="openDialog()"
                        btnstyle="btn-theme mt-2 border-0 px-3 text-white"
                        btnname="Add Video"></app-buttoncontrolconcomponent>
                </div>
                <div class="col-md-12 mt-3" *ngIf="itemOtherDesc.length >= 1">
                    <div class="bg-theme">
                        <div class="table-responsive">
                            <table class="table data-list mb-0">
                                <tr>
                                    <th>Title</th>
                                    <th>Video Url</th>
                                    <th class="text-end">Action</th>
                                </tr>
                                <tr *ngFor="let dec of itemOtherDesc ;let d = index">
                                    <td style="width:150px;">{{dec[0]}}</td>
                                    <td>{{dec[1]}}</td>
                                    <td class="text-end">
                                        <div class="d-flex justify-content-end">
                                            <a class="btn border btn-sm text-theme2 shadow-sm py-1 me-1"
                                                (click)="edithtml(d)" data-bs-target="#alert" data-bs-toggle="modal"><i
                                                    class="bi bi-pencil"></i></a>
                                            <a href="#DeleteModal1" data-bs-toggle="modal" (click)="edithtml1(d)"
                                                class="btn btn-white btn-sm text-danger border py-1" ><i
                                                    class="bi bi-trash"></i></a>
                                        </div>
                                    </td>
                                    <div class="modal fade" tabindex="-1" id="DeleteModal1">
                                        <div class="modal-dialog modal-sm modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header border-0">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <img src="/assets/images/icon/trash.png"
                                                        class="img-fluid d-block mx-auto mb-2" width="70">
                                                    <b>Delete Record of <b class="text-theme">{{deleteTitle}}</b></b>
                                                    <p class="small text-secondary">Are you sure you want to delete this
                                                        record ?</p>
    
                                                    <button (click)="deletehtml()" data-bs-dismiss="modal"
                                                        class="btn btn-danger">OK</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Video End-->
            </div>                       
            <div class="col-md-12">
                <span class="text-danger">{{mes}}</span>
            </div>
            <img *ngIf="loading" style="width:70px;height:70px;object-fit: contain;" class="d-block mx-auto" class="loader-img" src="/assets/images/loader.gif" />
            <div class="col-md-12 mt-2 text-end">    
                
                <app-buttoncontrolconcomponent routerLink="/{{lessonlistUrl}}" btnstyle="btn btn-cancel mt-3 me-2 border-0 text-dark px-3" btnname="Cancel"></app-buttoncontrolconcomponent>                
                <app-buttoncontrolconcomponent [btndisable]="loading" (click)="onSubmit(form)"  btnstyle="bg-theme2 mt-3 border-0 px-5 text-white" btnname="Save"></app-buttoncontrolconcomponent>                                     
            </div>
        </form>
        <!-- pdf Create model pop Start-->
     <div class="backdrop" [ngStyle]="{'display':display}"></div>
    <div class="modal price" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="mb-0 fw-bold">Pdf</h6>
                    <button class="btn-close border bg-light rounded-circle" data-bs-dismiss="modal"
                        (click)="closeModalDialog()"></button>
                </div>
                <div class="card-body">
                    <app-inputcontrol errmsg="{{vnameMessage}}" [star]="true" [(inputModel)]="title" lblname="PDF Title"
                        type="text" inptclass="mb-3" inputstyle="textbox"></app-inputcontrol>  
                        <div class="col-md-12">
                            <app-labelcontrolconcomponent label="PDF File" [star]="true"
                                *ngIf="Isshowlabeluploadfile"></app-labelcontrolconcomponent>
                            <app-uploadcontrolconcomponent uploaderrmsg="{{vpdfMessage}}" type="file" selectedFiles="pimImages"
                                (selectedimage)=selectedDocumentation($event) class="FileUpload mb-1" uploadicon="uploadicon"
                                *ngIf="Isshowfileupload"></app-uploadcontrolconcomponent>
                        </div>                                                                                                  
                    <app-buttoncontrolconcomponent (click)="addPdf()"
                        btnstyle="bg-theme2 mt-3 border-0 px-5 text-white w-100"
                        btnname="Save"></app-buttoncontrolconcomponent>
                </div>
            </div>
        </div>
    </div> 
    <!-- pdf Create model pop End-->
    <!-- Video Create model pop Start-->
     <div class="backdrop" [ngStyle]="{'display':display1}"></div>
    <div class="modal price" tabindex="-1" role="dialog" [ngStyle]="{'display':display1}">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="mb-0 fw-bold">Video</h6>
                    <button class="btn-close border bg-light rounded-circle" data-bs-dismiss="modal" (click)="closeDialog()"></button>
                </div>
                <div class="card-body">
                    <app-inputcontrol [star]="true" errmsg="{{titlehtmlMessage}}" [(inputModel)]="vdotitle" lblname="Video Title" type="text"
                        inptclass="mb-3" inputstyle="textbox"></app-inputcontrol>
                        <app-inputcontrol [star]="true" errmsg="{{urlhtmlMessage}}" [(inputModel)]="url" lblname="Video Url" type="text"
                        inptclass="mb-3" inputstyle="textbox"></app-inputcontrol>                                            
                    <app-buttoncontrolconcomponent (click)="addhtml()" 
                        btnstyle="bg-theme2 mt-3 border-0 px-5 text-white"
                        btnname="Save"></app-buttoncontrolconcomponent>
                </div>
            </div>
        </div>
    </div> 
    <!-- Video Create model pop End-->
    </div>    
</main>
