<div class="">     
    <div class="card border-0 p-3">
        <table class="table data-list mb-0">
            <thead>
              <tr>                           
                <th>Date</th>
                <th>Bathch No</th>
                <th>Order No</th>
                <th>Inward Quantity</th>
                <th>Outward Quantity</th>                
              </tr>
            </thead>
            <tbody>
              <tr>                            
                <td style="">
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'100px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader>  
                </td>
                <td class="text-theme">
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'120px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader>  
                </td>
                <td>
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'70px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader> 
                </td>  
                <td class="text-theme">
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'120px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>  
                  <td class="text-theme">
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'120px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>                                                                                     
              </tr>
              <tr>                            
                <td>
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'100px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader>  
                </td>
                <td class="text-theme">
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'120px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader>  
                </td>
                
                <td>
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'70px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader> 
                </td> 
                <td class="text-theme">
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'120px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>   
                  <td class="text-theme">
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'120px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>                                                                    
              </tr>
              <tr>                            
                <td>
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'100px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader>  
                </td>
                <td class="text-theme">
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'120px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader>  
                </td>
                
                <td>
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'70px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader> 
                </td>   
                <td class="text-theme">
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'120px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>   
                  <td class="text-theme">
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'120px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>                                                                             
              </tr>
            </tbody>
          </table>
    </div>                            
  
  </div>
  