
<!-- <div class="col-md-12">
    <div class="card p-3 shadow-sm border-0">
      <input   type="text" class="form-control search-control"  name="searchString" placeholder="Type to search..."/>                     
    </div>
  </div> -->
  
  <div class="pt-2">
    <div class="border-0 p-3 table-loader">
      <div class="table-responsive">
        <table class="table">
            <thead>
              <tr>   
                                     
                <th>Products</th>
                <th>Variant</th> 
                <th>Cost Price</th>  
                <th>MRP</th>                                    
                <th>Practitioner Margin (in %)</th>                            
                <th>Practitioner Margin (in Amount)</th>
                <th>Practitioner Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>   
                                  
                <td>
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'100px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader>  
                </td>
                <td>
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'100px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader>  
                </td> 
                <td>
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'100px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader>  
                </td> 
                <td>
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'100px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader>  
                </td>                         
                <td>
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'70px',
                      height:'20px',
                      'border-radius':'50px'
                      }">
                  </ngx-skeleton-loader> 
                </td>   
                <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'70px',
                        height:'20px',
                        'border-radius':'50px'
                        }">
                    </ngx-skeleton-loader> 
                  </td>
                  <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'70px',
                        height:'20px',
                        'border-radius':'50px'
                        }">
                    </ngx-skeleton-loader> 
                  </td>             
              </tr>
            
              
            </tbody>
          </table>
          </div>
    </div>                            
  </div>
  
  