<main class="main" id="main">
    <div class="card p-3">
      <div class="d-md-flex justify-content-between align-items-center">
        <app-pagetitle pagetitle="State"></app-pagetitle>
        <div class="d-flex align-items-center gap-2 mt-md-0 mt-2">
          <input (ngModelChange)=onchaneg($event) type="text" class="form-control search-input"  name="searchString" placeholder="Type to search..." [(ngModel)]="searchString1"/>
          <app-createicon  routerLink="{{statecreateurl}}"></app-createicon>
        </div>
      </div>
    </div>
    <app-stateloader *ngIf="statelistloading"></app-stateloader>
    <app-table [searchString]="searchString1" *ngIf="!statelistloading" [tableList]="tableTdlist" [tableData]="statelist" [Modaldisplayname]="fieldName" [statusdisplayname]="statusName" [displayhead]="tableThlist2" (onedit)="editstate($event)" (ondelete)="deletestate($event)"></app-table>
    <app-datanotfound *ngIf="!statelistloading && statelist.length == 0"></app-datanotfound>
</main>