
    <div class="card p-3">
        <div class="d-flex flex-wrap justify-content-between align-items-center mb-2">
            <h5 class="mt-2"><ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                width:'150px',
                height:'15px'
                }">
            </ngx-skeleton-loader> </h5>
            <span class="small">
                <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                    width:'150px',
                    height:'15px'
                    }">
                </ngx-skeleton-loader> 
            </span>
        </div>        
        <div class="d-flex gap-3" style="height: 20px;">
            <span>
                <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                width:'150px',
                height:'10px'
                }">
            </ngx-skeleton-loader> </span>
            <span><ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                width:'150px',
                height:'10px'
                }">
            </ngx-skeleton-loader></span>
            <span><ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                width:'150px',
                height:'10px'
                }">
            </ngx-skeleton-loader></span>
        </div>       
    </div> 

    
