
<!-- <div class="col-md-12">
    <div class="card p-3 shadow-sm border-0">
      <input   type="text" class="form-control search-control"  name="searchString" placeholder="Type to search..."/>                     
    </div>
  </div> -->
  
  <div class="pt-2">
  <div class="card border-0 p-3 table-loader">
    <div class="table-responsive">
      <table class="table">
          <thead>
            <tr>  
              <th>State</th>                         
              <th>Name</th>                                       
              <th>Status</th>                            
              <th class="text-end">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr> 
                <td>
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'100px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>                           
              <td>
                <ngx-skeleton-loader count="1" appearance="line"
                    animation="progress-dark"
                    [theme]="{
                    width:'100px',
                    height:'20px'
                    }">
                </ngx-skeleton-loader>  
              </td>                         
              <td>
                <ngx-skeleton-loader count="1" appearance="line"
                    animation="progress-dark"
                    [theme]="{
                    width:'70px',
                    height:'20px',
                    'border-radius':'50px'
                    }">
                </ngx-skeleton-loader> 
              </td>
              <td class="text-end">
                <ngx-skeleton-loader count="1" appearance="line"
                    animation="progress-dark"
                    [theme]="{
                    width:'30px',
                    height:'30px'
                    }">
                </ngx-skeleton-loader> &nbsp;
                <ngx-skeleton-loader count="1" appearance="line"
                    animation="progress-dark"
                    [theme]="{
                    width:'30px',
                    height:'30px'
                    }">
                </ngx-skeleton-loader> 
              </td>
            </tr>                      
          </tbody>
        </table>
        </div>
  </div>                            
</div>

