<main class="main" id="main">    
    <div class="card p-3">
        <app-pagetitle pagetitle="Edit SMS Template"></app-pagetitle>
        <form #form="ngForm" class="row mt-3">
            <div class="col-md-12 mb-3">
                <button class="btn border bg-light mb-2 me-2 rounded-pill"(click)="ClinicName()" >Clinic Name</button>
                <button class="btn border bg-light mb-2 me-2 rounded-pill"(click)="Discount()" >Discount</button>
                <button class="btn border bg-light mb-2 me-2 rounded-pill"(click)="CouponCode()" >Coupon Code</button>
                <button class="btn border bg-light mb-2 me-2 rounded-pill"(click)="Storeurl()" >Store url</button>               
                <button class="btn border bg-light mb-2 me-2 rounded-pill"(click)="PatientName()" >Patient Name</button>               
                <button class="btn border bg-light mb-2 me-2 rounded-pill"(click)="OrderNo()" >Order No</button>               
                <button class="btn border bg-light mb-2 me-2 rounded-pill"(click)="DispatchBy()" >Dispatch By</button>               
                <button class="btn border bg-light mb-2 me-2 rounded-pill"(click)="LrNo()" >LR No</button>               
                <button class="btn border bg-light mb-2 me-2 rounded-pill"(click)="OTP()" >OTP</button>
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label mb-1">Title<span class="text-danger">*</span></label>            
                    <select class="form-select py-1 me-2 textbox"  (change)=titleDD($event);>                    
                        <option value="{{status.Name}}" *ngFor="let status of TitleDD" [selected]="status.Name == smsTitle" >{{status.Name}}</option>         
                    </select>                     
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label mb-1">Type<span class="text-danger">*</span></label>            
                    <select class="form-select py-1 me-2 textbox"  (change)=smsTypeDD($event);>                    
                        <option value="{{t.Name}}" *ngFor="let t of TypeDD" [selected]="t.Name == smsType" >{{t.Name}}</option>         
                    </select>                     
            </div>
            <div class="col-md-4 mb-3">                
                <app-inputcontrol  [(inputModel)]="smsTemplateId" lblname="Template Id" type="text" [star]="false"  inptclass="mb-3"  inputstyle="textbox"></app-inputcontrol>
            </div>
            <div class="col-md-12">
                <app-labelcontrolconcomponent label="Message" [star]="false"></app-labelcontrolconcomponent>
                <app-textareacontrolcontrolcomponent areaerrmsg="{{decMessage}}" [(inputModel)]="smsMessage" tareastyle="mb-md-1"></app-textareacontrolcontrolcomponent>
            </div>
            <div class="col-md-3">
                <app-toggleswitchcontrol [(inputModel)]="smsIsActive"></app-toggleswitchcontrol>
            </div>
            <div class="col-md-12">
                <span class="text-danger">{{mes}}</span>
            </div>
            <img *ngIf="loading" style="width:70px;height:70px;object-fit: contain;" class="d-block mx-auto" class="loader-img" src="/assets/images/loader.gif" />
            <div class="col-md-12 text-end">    
                <app-buttoncontrolconcomponent routerLink="/{{smsTemplatelistUrl}}" btnstyle="btn btn-cancel mt-3 me-2 border-0 text-dark px-3" btnname="Cancel"></app-buttoncontrolconcomponent>                
                <app-buttoncontrolconcomponent [btndisable]="loading" (click)="onSubmit(form)"  btnstyle="bg-theme2 mt-3 border-0 px-5 text-white" btnname="Save"></app-buttoncontrolconcomponent>                                     
            </div>
        </form>
    </div>    
</main>