<main class="main" id="main">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-6">
                    <div class="card p-3 dashboard-block">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            <div class="icon me-2">
                                <img src="assets/images/Dahboardimg/categories.png" alt="..." class="img-fluid">
                            </div>                              
                            <div>
                              <h6 class="mb-0">Categories</h6>
                              <small class="text-secondary" style="font-size: 12px;">Manage Categories</small>
                            </div>
                            </div>                                   
                          </div>
                          <a routerLink="{{categorieslistUrl}}" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3 dashboard-block">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            <div class="icon me-2">
                                <img src="assets/images/Dahboardimg/Subcategories.png" alt="..." class="img-fluid">
                            </div>
                            <div>
                              <h6 class="mb-0">Sub Categories</h6>
                              <small class="text-secondary" style="font-size: 12px;">Manage Sub Categories</small>
                            </div>
                            </div>
                          </div>
                          <a routerLink="{{subcategorieslistUrl}}" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3 dashboard-block">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            <div class="icon me-2">
                                <img src="assets/images/Dahboardimg/Prectitionermaster.png" alt="..." class="img-fluid">
                            </div>
                            <div>
                              <h6 class="mb-0">Practitioner Categories</h6>
                              <small class="text-secondary" style="font-size: 12px;">Manage Practitioner Categories</small>
                            </div>
                            </div>                                   
                          </div>
                          <a routerLink="{{parcategorieslistUrl}}" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3 dashboard-block">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            <div class="icon me-2">
                                <img src="assets/images/Dahboardimg/Prectitionermaster.png" alt="..." class="img-fluid">
                            </div>                              
                            <div>
                              <h6 class="mb-0">Practitioners</h6>
                              <small class="text-secondary" style="font-size: 12px;">Manage Practitioners</small>
                            </div>
                            </div>                                   
                          </div>
                          <a routerLink="{{practitionerslistUrl}}" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3 dashboard-block">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            <div class="icon me-2">
                                <img src="assets/images/Dahboardimg/Product.png" alt="..." class="img-fluid">
                            </div>                              
                            <div>
                              <h6 class="mb-0">Items</h6>
                              <small class="text-secondary" style="font-size: 12px;">Manage Items</small>
                            </div>
                            </div>                                   
                          </div>
                          <a routerLink="{{itemslistUrl}}" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3 dashboard-block">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            <div class="icon me-2">
                                <img src="assets/images/Dahboardimg/Patients.png" alt="..." class="img-fluid">
                            </div>                              
                            <div>
                              <h6 class="mb-0">Patient</h6>
                              <small class="text-secondary" style="font-size: 12px;">Manage patient</small>
                            </div>
                            </div>                                   
                          </div>
                          <a routerLink="{{patientlistUrl}}" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3 dashboard-block">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            <div class="icon me-2">
                                <img src="assets/images/Dahboardimg/order.png" alt="..." class="img-fluid">
                            </div>                              
                            <div>
                              <h6 class="mb-0">Orders</h6>
                              <small class="text-secondary" style="font-size: 12px;">Manage orders</small>
                            </div>
                            </div>                                   
                          </div>
                          <a routerLink="{{orderslistUrl}}" class="stretched-link"></a>
                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="card p-3 dashboard-block">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            <div class="icon me-2">
                                <img src="assets/images/Dahboardimg/Courier.png" alt="..." class="img-fluid">
                            </div>                              
                            <div>
                              <h6 class="mb-0">Courier Company</h6>
                              <small class="text-secondary" style="font-size: 12px;">Manage Courier Company</small>
                            </div>
                            </div>                                   
                          </div>
                          <a routerLink="{{couriercompanylistUrl}}" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3 dashboard-block">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            <div class="icon me-2">
                                <img src="assets/images/Dahboardimg/Cupon.png" alt="..." class="img-fluid">
                            </div>                              
                            <div>
                              <h6 class="mb-0">Coupon Management</h6>
                              <small class="text-secondary" style="font-size: 12px;">Manage Coupons</small>
                            </div>
                            </div>                                   
                          </div>
                          <a routerLink="{{couponmanagementlistUrl}}" class="stretched-link"></a>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="card p-3 dashboard-block">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            <div class="icon me-2">
                                <img src="assets/images/Dahboardimg/Paymentmanagement.png" alt="..." class="img-fluid">
                            </div>                              
                            <div>
                              <h6 class="mb-0">Remuneration</h6>
                              <small class="text-secondary" style="font-size: 12px;">Manage Remuneration</small>
                            </div>
                            </div>                                   
                          </div>
                          <a routerLink="{{paymentManagementlistUrl}}" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3 dashboard-block">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            <div class="icon me-2">
                                <img src="assets/images/Dahboardimg/webpage.png" alt="..." class="img-fluid">
                            </div>                              
                            <div>
                              <h6 class="mb-0">Web Pages</h6>
                              <small class="text-secondary" style="font-size: 12px;">Manage Web Pages</small>
                            </div>
                            </div>                                   
                          </div>
                          <a routerLink="{{webpagesUrl}}" class="stretched-link"></a>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="card p-3 dashboard-block">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            <div class="icon me-2">
                                <img src="assets/images/Dahboardimg/inq.png" alt="..." class="img-fluid">
                            </div>                              
                            <div>
                              <h6 class="mb-0">Contact Inquiry </h6>
                              <small class="text-secondary" style="font-size: 12px;">Contact Inquiry</small>
                            </div>
                            </div>                                   
                          </div>
                          <a routerLink="{{inquirylistUrl}}" class="stretched-link"></a>
                    </div>
                </div> 
                <div class="col-md-6">
                    <div class="card p-3 dashboard-block">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            <div class="icon me-2">
                                <img src="assets/images/Dahboardimg/blog.png" alt="..." class="img-fluid">
                            </div>                              
                            <div>
                              <h6 class="mb-0">Blog </h6>
                              <small class="text-secondary" style="font-size: 12px;">Manage Blog</small>
                            </div>
                            </div>                                   
                          </div>
                          <a routerLink="{{bloglistUrl}}" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3 dashboard-block">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                            <div class="icon me-2">
                                <img src="assets/images/Dahboardimg/setting.png" alt="..." class="img-fluid">
                            </div>                              
                            <div>
                              <h6 class="mb-0">Settings </h6>
                              <small class="text-secondary" style="font-size: 12px;">Manage Settings</small>
                            </div>
                            </div>                                   
                          </div>
                          <a routerLink="{{settingsUrl}}" class="stretched-link"></a>
                    </div>
                </div>             
            </div>
            
        </div>

        <div class="col-md-5">
            <!--------------------------Start Recent Orders------------------------------>
            <div class="card" *ngIf="!recOrdlistloading &&  recOrdlist.length != 0">
                <div class="card-header d-flex justify-content-between align-items-center pb-0 border-0">
                    <h5 class="text-dark mb-0">Recent Orders</h5>
                    <a routerLink="{{orderslistUrl}}" class="small">View more</a>
                </div>
                <div class="card-body">
                    <div class="border p-2 rounded d-flex justify-content-between align-items-center mb-2" *ngFor="let ord of recOrdlist">
                        <div>
                            <h6 class="fw-bold mb-0">{{ord.patientName}}</h6>
                            <span class="text-secondary small">Order Id : {{ord.ormNo}}</span>
                            <p class="mb-0 text-secondary small">{{ord.contactNo}}</p>
                        </div>  
                        <span class="badge bg-silver text-secondary rounded-pill fw-normal">{{ord.ormDate}}</span>
                    </div>                    
                </div>
            </div>
            <!--------------------------End Recent Orders------------------------------>
            <!--------------------------End Recent Practitioners------------------------------>
           <div class="card" *ngIf="!pralistloading &&  pralist.length != 0">
                <div class="card-header d-flex justify-content-between align-items-center pb-0 border-0">
                    <h5 class="text-dark mb-0">Recent Practitioners</h5>
                    <a routerLink="{{practitionerslistUrl}}" class="small">View more</a>
                </div>
                <div class="card-body">
                    <div class="border p-2 rounded mb-2" *ngFor="let pra of pralist">
                        <div class="d-flex flex-wrap justify-content-between align-items-center mb-2">
                            <h6 class="fw-bold mb-0">{{pra.name}}</h6>
                            <span class="badge bg-silver text-secondary rounded-pill fw-normal">Reg Date : {{pra.regDate}}</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-end">
                            <div>                            
                                <span class="text-secondary small">{{pra.category}}</span>
                                <p class="mb-0 text-secondary small">{{pra.email}} <span *ngIf="pra.contact != '-'">| {{pra.contact}}</span></p>
                            </div>  
                            <div>
                                <span class="badge btn-theme text-white rounded-pill fw-normal me-1">{{pra.regBy}}</span>
                                <span *ngIf="pra.status == true"><span class="badge badge-active rounded-pill fw-normal">Active</span></span>
                                <span *ngIf="pra.status == false"><span class="badge badge-deactive rounded-pill fw-normal">Deactive</span></span>                                
                            </div>
                        </div>                                               
                    </div>                    
                </div>
            </div>
            <!--------------------------End Recent Practitioners------------------------------>
            <!--------------------------Star Recent Patients------------------------------>
            <div class="card" *ngIf="!recPatientloading &&  recPatientlist.length != 0">
                <div class="card-header d-flex justify-content-between align-items-center pb-0 border-0">
                    <h5 class="text-dark mb-0">Recent Patients</h5>
                    <a  routerLink="{{patientlistUrl}}" class="small">View more</a>
                </div>
                <div class="card-body">
                    <div class="border p-2 rounded mb-2" *ngFor="let pat of recPatientlist">
                        <div class="d-flex flex-wrap justify-content-between align-items-center mb-2">
                            <h6 class="fw-bold mb-0">{{pat.name}}</h6>
                            <span class="badge bg-silver text-secondary rounded-pill fw-normal">Reg Date : {{pat.regDate | date:"d-MM-yyyy"}}</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-end">
                            <div>                            
                                <span class="text-secondary small">{{pat.category}}</span>
                                <p class="mb-0 text-secondary small">{{pat.contact}} <span *ngIf="pat.email != '-'">|  {{pat.email}}</span></p>
                            </div>                              
                        </div>                                               
                    </div>                    
                </div>
            </div>
            <!--------------------------End Recent Patients------------------------------>
            <div class="card" *ngIf="pralistloading">
                <div class="card-header d-flex flex-wrap justify-content-between align-items-center pb-0 border-0" style="height: 40px;">
                    <div style="width:40%">
                        <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'100%',
                        height:'10px'
                        }">
                        </ngx-skeleton-loader> 
                    </div>
                    <ngx-skeleton-loader count="1" appearance="line"
                    animation="progress-dark"
                    [theme]="{
                    width:'80px',
                    height:'15px',
                    'border-radius':'50px'
                    }">
                    </ngx-skeleton-loader> 
                </div>
                <div class="card-body pt-0">
                    <div class="border p-2 rounded d-flex flex-wrap justify-content-between align-items-end mb-2">
                        <div class="mt-2">
                            <div style="height: 20px;">
                                <ngx-skeleton-loader count="1" appearance="line"
                                animation="progress-dark"
                                [theme]="{
                                width:'100px',
                                height:'10px'
                                }">
                                </ngx-skeleton-loader> 
                            </div>
                            <div style="height: 20px;">
                                <ngx-skeleton-loader count="1" appearance="line"
                                animation="progress-dark"
                                [theme]="{
                                width:'150px',
                                height:'10px'
                                }">
                                </ngx-skeleton-loader> 
                            </div>
                            <div style="height: 20px;">
                                <ngx-skeleton-loader count="1" appearance="line"
                                animation="progress-dark"
                                [theme]="{
                                width:'200px',
                                height:'10px'
                                }">
                                </ngx-skeleton-loader> 
                            </div>    
                            <div style="height: 20px;">
                                <ngx-skeleton-loader count="1" appearance="line"
                                animation="progress-dark"
                                [theme]="{
                                width:'100px',
                                height:'10px'
                                }">
                                </ngx-skeleton-loader> 
                            </div>                                               
                        </div>  
                        <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'100px',
                        height:'20px',
                        'border-radius':'50px'
                        }">
                        </ngx-skeleton-loader> 
                    </div>                    
                </div>
                <div class="card-body pt-0">
                    <div class="border p-2 rounded d-flex flex-wrap justify-content-between align-items-end mb-2">
                        <div class="mt-2">
                            <div style="height: 20px;">
                                <ngx-skeleton-loader count="1" appearance="line"
                                animation="progress-dark"
                                [theme]="{
                                width:'100px',
                                height:'10px'
                                }">
                                </ngx-skeleton-loader> 
                            </div>
                            <div style="height: 20px;">
                                <ngx-skeleton-loader count="1" appearance="line"
                                animation="progress-dark"
                                [theme]="{
                                width:'150px',
                                height:'10px'
                                }">
                                </ngx-skeleton-loader> 
                            </div>
                            <div style="height: 20px;">
                                <ngx-skeleton-loader count="1" appearance="line"
                                animation="progress-dark"
                                [theme]="{
                                width:'200px',
                                height:'10px'
                                }">
                                </ngx-skeleton-loader> 
                            </div>    
                            <div style="height: 20px;">
                                <ngx-skeleton-loader count="1" appearance="line"
                                animation="progress-dark"
                                [theme]="{
                                width:'100px',
                                height:'10px'
                                }">
                                </ngx-skeleton-loader> 
                            </div>                                               
                        </div>  
                        <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'100px',
                        height:'20px',
                        'border-radius':'50px'
                        }">
                        </ngx-skeleton-loader> 
                    </div>                    
                </div>
            </div>            
        </div>
    </div>
</main>

