<main class="main" id="main">
    <div class="card p-3" style="min-height: 60px;">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
            <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                          width:'200px',
                          height:'15px'
                          }">
            </ngx-skeleton-loader>
            <div>
                <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                        width:'100px',
                        height:'30px'
                        }">
                </ngx-skeleton-loader>
            </div>
        </div>
    </div>

    <div class="card p-3">
        <div class="d-flex justify-content-between align-items-center mb-md-4">
            <div class="d-flex align-items-center mb-md-0 mb-3">
                <div class="short-name"></div>
                <div>
                    <h5 class="mb-0"><ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                        width:'150px',
                        height:'10px'
                        }">
                        </ngx-skeleton-loader> </h5>
                    <span class="small text-secondary"><ngx-skeleton-loader count="1" appearance="line"
                            animation="progress-dark" [theme]="{
                        width:'100px',
                        height:'7px'
                        }">
                        </ngx-skeleton-loader> </span>
                </div>
            </div>
            <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                        width:'100px',
                        height:'20px',
                        'border-radius':'50px'
                        }">
            </ngx-skeleton-loader>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card bg-light shadow-none p-md-3 p-2">
                    <b> <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                        width:'50%',
                        height:'20px'                        
                        }">
                        </ngx-skeleton-loader> </b>
                    <p class="text-secondary small mb-0 mt-2"><ngx-skeleton-loader count="2" appearance="line"
                            animation="progress-dark" [theme]="{
                        width:'85%',
                        height:'10px'
                        }">
                        </ngx-skeleton-loader> </p>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card bg-light shadow-none p-md-3 p-2">
                    <b> <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                        width:'50%',
                        height:'20px'                        
                        }">
                        </ngx-skeleton-loader> </b>
                    <p class="text-secondary small mb-0 mt-2"><ngx-skeleton-loader count="2" appearance="line"
                            animation="progress-dark" [theme]="{
                        width:'85%',
                        height:'10px'
                        }">
                        </ngx-skeleton-loader> </p>
                </div>

            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-7">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="img me-2">
                        <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                            width:'100%',
                            height:'100%'
                            }">
                        </ngx-skeleton-loader>
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="fw-bold mb-1"><ngx-skeleton-loader count="1" appearance="line"
                                animation="progress-dark" [theme]="{
                                width:'70%',
                                height:'15px'
                                }">
                            </ngx-skeleton-loader> </h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <p><ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                                    width:'100px',
                                    height:'10px'
                                    }">
                                </ngx-skeleton-loader> </p>
                            <span><ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                                    width:'100px',
                                    height:'20px',
                                    'border-radius':'50px'
                                    }">
                                </ngx-skeleton-loader> </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5" style="position: sticky;top: 30px;">
            <div class="card bg-white p-md-3 p-3">
                <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                                    width:'50%',
                                    height:'15px',
                                    'border-radius':'50px'
                                    }">
                                </ngx-skeleton-loader>

                <hr style="background-color: rgb(209, 201, 201);">
                <p class="text-dark">Amount <span class="float-end small"><b class="text-dark">
                            <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                    width:'100px',
                    height:'10px'
                    }">
                            </ngx-skeleton-loader> </b></span></p>
                <p class="text-dark">Dilivery Charge <span class="float-end"><b><ngx-skeleton-loader count="1"
                                appearance="line" animation="progress-dark" [theme]="{
                                width:'80px',
                                height:'10px'
                                }">
                            </ngx-skeleton-loader> </b></span></p>
                
                <p class="text-dark">Discount <span class="float-end">
                            <ngx-skeleton-loader count="1" appearance="line" animation="progress-dark" [theme]="{
                        width:'100px',
                        height:'10px'
                        }">
                            </ngx-skeleton-loader></span></p>
                <hr style="background-color: rgb(209, 201, 201);">
                <div class="card-footer border-0 bg-white px-0">

                    <h6 class="fw-bold mb-0 text-dark">Total amount <span class="float-end"><ngx-skeleton-loader
                                count="1" appearance="line" animation="progress-dark" [theme]="{
                            width:'100px',
                            height:'20px'
                            }">
                            </ngx-skeleton-loader> </span></h6>
                </div>
            </div>
        </div>
    </div>
</main>