<div class="">     
    <div class="card border-0 p-3">
        <table class="table data-list mb-0">
            <thead>
              <tr>                           
                <th>Date</th>
                <th>Patient</th>                
                <th>Contact</th>
                <th>Email</th>
                <th>Practitioner</th>
                <th>Reg By</th>                                                     
                <th class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>                            
                <td style="">
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'100px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader>  
                </td>
                <td class="text-theme">
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'120px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader>  
                </td>
                <td>
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'70px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader> 
                </td>  
                <td class="text-theme">
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'120px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td> 
                  <td class="text-theme">
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'120px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td> 
                  <td class="text-theme">
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'120px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>                                           
                <td class="text-end">
                  <ngx-skeleton-loader count="1" appearance="line"
                  animation="progress-dark"
                  [theme]="{
                    width:'30px',
                    height:'30px'
                  }">
              </ngx-skeleton-loader> 
                </td>
              </tr>
              <tr>                            
                <td>
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'100px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader>  
                </td>
                <td class="text-theme">
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'120px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader>  
                </td>
                
                <td>
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'70px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader> 
                </td> 
                <td class="text-theme">
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'120px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>
                  <td class="text-theme">
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'120px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>
                  <td class="text-theme">
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'120px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>
                              
                <td class="text-end">
                  <ngx-skeleton-loader count="1" appearance="line"
                  animation="progress-dark"
                  [theme]="{
                    width:'30px',
                    height:'30px'
                  }">
              </ngx-skeleton-loader> 
                </td>
              </tr>
              <tr>                            
                <td>
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'100px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader>  
                </td>
                <td class="text-theme">
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'120px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader>  
                </td>
                
                <td>
                  <ngx-skeleton-loader count="1" appearance="line"
                      animation="progress-dark"
                      [theme]="{
                      width:'70px',
                      height:'20px'
                      }">
                  </ngx-skeleton-loader> 
                </td>   
                <td class="text-theme">
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'120px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>
                  <td class="text-theme">
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'120px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>
                  <td class="text-theme">
                    <ngx-skeleton-loader count="1" appearance="line"
                        animation="progress-dark"
                        [theme]="{
                        width:'120px',
                        height:'20px'
                        }">
                    </ngx-skeleton-loader>  
                  </td>
                                         
                <td class="text-end">
                  <ngx-skeleton-loader count="1" appearance="line"
                  animation="progress-dark"
                  [theme]="{
                  width:'30px',
                  height:'30px'
                  }">
              </ngx-skeleton-loader> 
                </td>
              </tr>
            </tbody>
          </table>
    </div>                            
  
  </div>
  